@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

:root {
	--primary: #2874f0;
	--secondary: #878787;
	--green: #388e3c;
	--yellow: #ff9f00;
	--orange: #fb641b;
	--pure: #fff;
	--background: #eaeded;
}

body {
	background-color: var(--background);
}

.red {
	background-color: red;
}
.newone {
	background-color: green;
}
