.nav {
	background-color: #232f3e;
	color: white;
	height: 35px;
	padding-bottom: 1px;
}

.nav ul li {
	list-style: none;
	color: white;
	font-weight: 600;
	margin-left: 30px;
	font-size: 14px;
}

.active {
	color: white;
	text-decoration: none;
}

.inactive {
	color: white;
	text-decoration: none;
}
